//@extend-elements
%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}


html {
	@extend %extend1;
}
body {
	@extend %extend1;
	font-family: $font1;
	@include font-rem($doc-font-size);
	color: $color_tuatara;
	background-color: $white;
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: 35%;
	@media #{$small} {
	    background-image: none !important;
		background: $white;
	}
}
* {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
.header {
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 300px;
	text-align: left;
	color: $white;
	@media #{$small} {
		display: block !important;
	}
	@media only screen and (max-height: 500px) {
	    display: block !important;
	}
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.container {
	width: 36rem;
	max-width: 550px;
	padding-right: 15px;
	padding-left: 15px;
	@include center-block();
	background-color: $white;
	color: $color_shark;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 100%;
	    box-shadow: none;
	}
	@media #{$medium} {
		width: 80%;
	}
}
.row {
	margin-top: 15px;
	text-align: center;
	.title {
	    margin-top: 0;
	    margin-bottom: 5px;
	}
	@media #{$small} {
		padding: 0 1em;
	}
}
.wrapper {
	width: 75%;
	max-width: 850px;
	margin: 4rem auto;
	background: $white;
	color: $color_tuatara;
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
	    box-shadow: none;
	}
}
#disqus_thread {
	width: 75%;
	max-width: 850px;
	margin: -3rem auto 4rem;
	background: $white;
	color: $color_tuatara;
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
	    box-shadow: none;
	}
}
// entry meta
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten($color_tuatara,60);
	padding-left: 0;
	a {
		color: lighten($color_tuatara,60);
	}
	li {
	    list-style-type: none;
	    display: inline;
	}
	.tag {
	    display: inline-block;
        border: 1px solid;
        border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
        @include rounded(3px);
        text-decoration: none;
        background-color: $white;
        color: $color_tuatara;
        @include transition(.75s);
        margin: 2px 5px;
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: darken($white,15);
			@include border-radius(3px,3px,0,0);
		}
		&:hover {
			background-color: darken($white,15);
			box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
		}
	}
}
header .entry-meta {
	display: none; // hide header meta on small screens
	@media #{$notsmall} {
		display: block;
	}
}
.entry-title a {
    text-decoration: none;
}
.entry-tags {
	display: block;
    margin-top: 1rem;
	width: 70%;
    float: left;
    text-align: left;
}
.social-share {
	display: block;
    margin-top: 1rem;
    width: 30%;
    float: right;
    text-align: right;
}
.feature {
    @include transition(.5s);
    @media #{$small} {
        background-image: none !important;
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 10em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

//TOC
/*
 *
 * Side navigation
 *
 * Customized format for sidenav.
 * learned from:
 * http://getbootstrap.com/getting-started/
 * original file:
 * https://github.com/twbs/bootstrap/blob/master/docs/assets/css/src/docs.css#L548
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
-------------------------------------------------- */

/* dummy for top nav */
.bs-docs-bar-top {
}

/* dummy for footedummy for footerr*/
.bs-docs-bar-footer {
    text-align: center;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 17px;
  font-weight: bold;
  color: #767676;
  /*no wrap*/
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: red;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  /* display: none; Hide by default, but at >768px, show it */
  /* padding-bottom: 10px; */
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover,
.bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: bold;
  color: red;
}

/* Nav: 3rd level (shown on .active) */
.bs-docs-sidebar .nav .nav .nav {
  /*display: none;  Hide by default, but at >768px, show it */
  /* padding-bottom: 10px;*/
}
.bs-docs-sidebar .nav .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav .nav > li > a:hover,
.bs-docs-sidebar .nav .nav .nav > li > a:focus {
  padding-left: 39px;
}
.bs-docs-sidebar .nav .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav .nav > .active:focus > a {
  padding-left: 38px;
  font-weight: bold;
  color: red;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 263px;
  }
}
